.styledLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 70%;
  max-width: 450px;
}

@media (max-width: 1000px) {
  .styledLabel {
    width: 90%;
  }
}

.bottomText {
  color: var(--color-text-full-opacity);
  font-weight: 600;
  font-size: 16px;
}

.coloredLink {
  color: var(--color-burgundy);
  text-decoration: none;
  cursor: pointer;
}

.inputInner {
  position: relative;
  height: 70%;
  max-height: 550px;
  width: 70%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
  background-color: var(--color-text-low-opacity);

  padding: 25px;
  margin: 0 auto;
  overflow: auto;
}

@media (max-width: 1000px) {
  .inputInner {
    overflow-x: hidden;
    width: 90%;
    height: 90%;
  }
}

.customInput1 {
  width: 70%;
  max-width: 450px;
  height: 60px;
  background-color: var(--color-text-low-opacity);
  color: var(--color-text-slightly-colored);
  border-radius: 10px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 16px;
  border: none;
  outline: none;
}
.customInput2 {
  width: 70%;
  max-width: 450px;
  height: 160px;
  background-color: var(--color-text-low-opacity);
  color: var(--color-text-slightly-colored);
  vertical-align: top;
  border-radius: 10px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 16px;
  border: none;
  outline: none;
  resize: none;
}

@media (max-height: 800px), (max-width: 750px) {
  .customInput1 {
    font-size: 12px;
    height: 60px;
  }
  .customInput2 {
    font-size: 12px;
    height: 120px;
    min-height: 60px;
  }
  .bottomText {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .customInput1 {
    width: 90%;
  }
  .customInput2 {
    width: 90%;
  }
}

.styledCheckbox {
  height: 16px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  appearance: none;
  background: none;
  border: 2px solid var(--color-text-full-opacity);
  cursor: pointer;
}

.styledCheckbox:checked {
  background-color: var(--color-text-full-opacity);
}

.centeredContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}
