.centeredContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 1400px) {
  .centeredContainer {
    justify-content: start;
  }
}

@media (max-width: 1000px) {
  .softTitle {
    display: none;
  }
}

.hardTitle {
  color: var(--color-text-full-opacity);
  font-weight: 600;
  font-size: 36px;
}

.normalText {
  color: var(--color-text-full-opacity);
  font-weight: 700;
  font-size: 13px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 40px;
  height: 60%;
  width: 100%;
  box-sizing: border-box;
}

.cardsContainer > :nth-child(1) {
  margin: auto 0 0 auto;
}

.cardsContainer > :nth-child(2) {
  margin: auto auto 0 0;
}

.cardsContainer > :nth-child(3) {
  margin: 0 0 auto auto;
}

.cardsContainer > :nth-child(4) {
  margin: 0 auto auto 0;
}

@media (max-width: 1400px) {
  .cardsContainer {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    padding: 20px;
    height: auto;
  }

  .cardsContainer > :nth-child(1),
  .cardsContainer > :nth-child(2),
  .cardsContainer > :nth-child(3),
  .cardsContainer > :nth-child(4) {
    margin: auto auto auto auto;
  }
}

@media (max-width: 1400px) {
  .cardsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
    padding: 20px;
  }

  .cardsContainer > * {
    justify-self: center;
    align-self: center;
  }
}

.inputInner {
  height: 100%;
  min-height: 250px;
  max-height: 250px;
  width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  border-radius: 15px;

  gap: 30px;
  align-items: flex-start;
  padding: 20px;
  justify-content: space-between;
  background-color: var(--color-text-low-opacity);
  position: relative;
  overflow: hidden;
}

.cardTitle {
  color: var(--color-text-full-opacity);
  font-weight: 700;
  font-size: 16px;
}

.cardFooter {
  color: var(--color-text-full-opacity);
  font-weight: 700;
  font-size: 12px;
}
