@media (max-width: 1000px) {
  .container {
    padding: 20px;
    padding-top: 30px;
  }

  .softTitle {
    display: none;
  }
}

.hardTitle {
  color: var(--color-text-full-opacity);
  font-weight: 600;
  font-size: 36px;
}

.normalText {
  color: var(--color-text-full-opacity);
  font-weight: 700;
  font-size: 13px;
}

.mediumText {
  color: var(--color-text-full-opacity);
  font-weight: 700;
  font-size: 15px;
}

.articlesScrollContainer {
  display: flex;

  gap: 16px;
  padding: 10px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  min-height: 240px;
  overflow-x: auto;
  overflow-y: visible;
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar);
}
.articlesVerticalScrollContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;

  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar);

  scroll-snap-type: x mandatory;
}

.articlesContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 16px;
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar);
}

.mainArticleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  gap: 40px;
}

.expandArticle {
  min-height: 25px;
  min-width: 25px;
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
}

@media (max-width: 750px) {
  .mainArticleContainer {
    padding: 20px;
  }
  .expandedMainArticleContainer {
    padding: 20px;
    height: 100%;
  }
  .expandArticle {
    right: 20px;
    top: 20px;
  }
}

.mainArticleContentContainer {
  display: flex;
  flex-direction: column;

  overflow: hidden;

  gap: 24px;
}

.articleTitle {
  color: var(--color-text-full-opacity);
  font-weight: 600;
  font-size: 36px;
  padding: 0;
  margin: 0;
  word-break: break-word;
  max-width: 90%;
}

.articleContent {
  color: var(--color-text-full-opacity);
  font-weight: 500;
  font-size: 18px;
  padding: 0;
  margin: 0;
  word-break: break-word;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar);
}

@media (max-width: 750px) {
  .articleTitle {
    font-size: 20px;
  }
  .articleContent {
    font-size: 14px;
  }
}

.centeredContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.addArticleButton {
  all: unset;
  height: 60px;
  min-height: 40px;
  width: 80%;
  max-width: 450px;
  border-radius: 10px;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-full-opacity);
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  border-color: var(--color-burgundy);
  border-style: solid;
  border-width: 2px;
}
