.navButtonContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  background: var(--color-always-dark-background);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 1200px) {
  .navButtonContainer {
    padding: 10px;
  }
}

@media (max-width: 750px) {
  .navButtonContainer {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navButtonContainer.clicked {
  background: linear-gradient(to right, #2a3465, #1b2142);
}

.navText {
  color: var(--color-unavailable);
  font-size: 24px;
  font-family: inherit;
  font-weight: 600;
}

.navText.active {
  color: var(--color-text-full-opacity);
}

.navText.clicked {
  color: var(--color-always-white);
}

.iconWrapper {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 750px) {
  .iconWrapper {
    width: auto;
    height: 30px;
    margin: 5px;
  }
}

.navIcon path {
  fill: var(--color-unavailable);
}

.iconWrapper.active .navIcon path {
  fill: var(--color-burgundy);
}

.iconWrapper.clicked .navIcon path {
  fill: var(--color-text-full-opacity);
}

.iconWrapper.active.clicked .navIcon path {
  fill: var(--color-always-white);
}

@media (max-width: 1200px) {
  .navText {
    display: none;
  }
}