.articleCard {
  height: 225px;
  min-height: 100%;
  width: 240px;
  max-height: 240px;
  background: var(--color-text-low-opacity);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 800px), (max-height: 950px) {
  .articleCard {
    height: auto;
  }
}

.articleCardContent {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 15px;

  padding: 20px;
  overflow: hidden;
  cursor: pointer;
}

.articleCardTitle {
  color: var(--color-text-full-opacity);
  font-weight: 600;
  font-size: 14px;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

.articleCardContentText {
  color: var(--color-text-full-opacity);
  font-weight: 600;
  font-size: 7px;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

.articleCardDetails {
  background: var(--color-text-low-opacity);

  border-radius: 15px;
  height: 65px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.articleCardDetailsTextPart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 5px;
  max-width: 80%;
}

.articleCardDetailsNameSection {
  display: flex;
  flex-direction: row;
  gap: 10px;

  white-space: nowrap;
  overflow: hidden;

  color: var(--color-text-full-opacity);
  font-weight: 600;
  font-size: 16px;
}

.articleCardDetailsDateSection {
  color: var(--color-text-half-opacity);
  font-weight: 600;
  font-size: 13px;
}

.articleFile {
  height: 20px;
  fill: var(--color-text-low-opacity);
}

.moreButton {
  height: 30px;
  cursor: pointer;
  fill: var(--color-text-low-opacity);
}

.popup {
  height: 65px;
  width: 150px;

  background-color: var(--color-bg);
  border-color: var(--color-text-full-opacity);
  border-width: 2px;
  border-style: solid;

  z-index: 3;
  border-radius: 15px;
  position: absolute;
  top: 40%;
  left: 100%;
  padding: 20px;

  display: flex;
  align-items: center;

  color: var(--color-text-full-opacity);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 750px) {
  .articleCardDetails {
    border-radius: 15px;
    height: 40px;

    gap: 5px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .articleCardDetailsNameSection {
    gap: 10px;
    font-size: 12px;
  }

  .articleCardDetailsDateSection {
    font-size: 9px;
  }

  .articleFile {
    height: 15px;
  }

  .moreButton {
    height: 20px;
    cursor: pointer;
  }

  .popup {
    height: 40px;
    width: 90px;
    font-size: 10px;
  }
}
