.articleCard {
  height: 225px;
  width: 240px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articleCardContent {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 15px;

  padding: 20px;
  overflow: hidden;
}

.articleCardTitle {
  color: #c8cede;
  font-weight: 600;
  font-size: 14px;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

.articleCardContentText {
  color: #c8cede;
  font-weight: 600;
  font-size: 7px;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

.articleCardDetails {
  background: rgba(255, 255, 255, 0.05);

  border-radius: 15px;
  height: 65px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.articleCardDetailsTextPart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 5px;
  max-width: 80%;
}

.articleCardDetailsNameSection {
  display: flex;
  flex-direction: row;
  gap: 10px;

  white-space: nowrap;
  overflow: hidden;

  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}

.articleCardDetailsDateSection {
  color: rgba(255, 255, 255, 0.45);
  font-weight: 600;
  font-size: 13px;
}

.articleFile {
  height: 20px;
}

.moreButton {
  height: 30px;
}
