:root {
  /* Opacity values */
  --opacity-background: 0.2;

  /* Gradient backgrounds */
  --gradient-vertical: linear-gradient(
    10deg,
    rgba(123, 81, 93, 0.2) 0%,
    rgba(6, 0, 18, 0.2) 50%
  );

  --gradient-vertical-webkit: -webkit-linear-gradient(
    10deg,
    rgba(123, 81, 93, 0.2) 0%,
    rgba(6, 0, 18, 0.2) 50%
  );

  --gradient-vertical-moz: -moz-linear-gradient(
    10deg,
    rgba(123, 81, 93, 0.2) 0%,
    rgba(6, 0, 18, 0.2) 50%
  );
}

:root {
  --color-bg: #0a0c16;
  --color-always-white: #ffffff;
  --color-always-dark-background: #0a0c16;
  --color-burgundy: #660033;
  --color-burgundy-scary: #381024;
  --color-blue: #1b2142;
  --color-text-full-opacity: #ffffff;
  --color-text-half-opacity: rgba(255, 255, 255, 0.45);
  --color-text-low-opacity: rgba(255, 255, 255, 0.05);
  --color-text-slightly-colored: #a0aec0;
  --color-sidebar: rgba(255, 255, 255, 0.05);
  --color-blue-dot: #1b2142;
  --color-red-dot: #660033;
  --color-scrollbar: 888 transparent;
  --color-unavailable: #6b6b6b;
  --color-drop-shadow: rgba(27, 33, 66, 0.5);

  --base-gradient: linear-gradient(to right, #012878, #660033);
}

[data-theme="dark"] {
  --color-bg: #0a0c16;
  --color-text-full-opacity: #ffffff;
  --color-text-half-opacity: rgba(255, 255, 255, 0.45);
  --color-text-low-opacity: rgba(255, 255, 255, 0.05);
  --color-text-slightly-colored: #a0aec0;
  --color-sidebar: rgba(255, 255, 255, 0.05);
  --color-blue-dot: #1b2142;
  --color-red-dot: #660033;
}
