.sidebarContainer {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0 30px 30px 0;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (max-width: 1200px) {
  .sidebarContainer {
    align-items: center;
  }
}

@media (max-width: 750px) {
  .sidebarContainer {
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 0;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.styledLogo {
  width: 85px;
  height: 85px;
  margin: 10px;
  min-height: 20px;
}

.styledUserImage {
  height: 100px;
  width: 100px;
  margin: auto;
}

.userArea {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  width: 90%;
  height: 10%;
  max-height: 300px;
  background: linear-gradient(to right, #660033, #381024);
  border-radius: 15px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .styledLogo {
    width: 60px;
    height: 60px;
    margin: 10px;
  }
  .userArea {
    width: auto;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .styledUserImage {
    width: 40px;
    height: 40px;
    margin: 5px;
  }
}

@media (max-width: 750px) {
  .styledLogo {
    width: 30px;
    height: 30px;
    margin: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .styledUserImage {
    margin: 10px;
    width: 30px;
    height: 30px;
  }
}

.userDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
}

.usernameText {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
}

.usernameHandle {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  margin: 0;
  align-self: flex-start;
}

@media (max-width: 1200px) {
  .userDetails {
    display: none;
  }
}

.navigationContainer {
  width: 90%;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1200px) {
  .navigationContainer {
    padding: 10px;
    width: auto;
  }
}

@media (max-width: 750px) {
  .navigationContainer {
    width: 70%;
    flex-direction: row;
  }
}
