.container {
  position: relative;
}

.centerContainer {
  width: 100%;
  height: 100vh;
  display: flex;
}

@media (max-width: 750px) {
  .centerContainer {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .centerDivider {
    width: 100%;
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 750px) {
  .centerDivider {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}

.sidebarContainer {
  width: 20%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 1;
  border-radius: 0 30px 30px 0;
  box-shadow: 0 4px 250px 0 var(--color-drop-shadow);
}

.sidebarContainer::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1200px) {
  .sidebarContainer {
    align-items: center;
    width: 10%;
  }
}

@media (max-width: 900px) {
  .sidebarContainer {
    align-items: center;
    width: 15%;
  }
}

@media (max-width: 750px) {
  .sidebarContainer {
    align-items: center;
    height: 5%;
    border-radius: 0;

    min-height: 60px;

    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    box-shadow: 0 40px 200px 10px var(--color-drop-shadow);
  }
}

.mainContainer {
  width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 1;
}

.mainContainer::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1200px) {
  .mainContainer {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .mainContainer {
    width: 85%;
  }
}

@media (max-width: 750px) {
  .mainContainer {
    width: 100%;
    height: 85%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
