.background {
  background-color: #0a0c16;

  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 0;
}

.blurredCircle1 {
  position: absolute;
  width: 30%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #1b2142;
  filter: blur(10vw);
  top: 75%;
  right: 60%;
  z-index: 0;
}

@media (max-width: 1400px) {
  .blurredCircle1 {
    top: 80%;
    right: 80%;
  }

  .blurredCircle2 {
    bottom: 80%;
    left: 80%;
  }
}

.blurredCircle2 {
  position: absolute;
  width: 30%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #660033;
  filter: blur(10vw);
  bottom: 75%;
  left: 70%;
}
